Flas==1.1.2
Flask-WTF==0.14.3
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==7.2.0
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
SQLAlchemy==1.3.23
WTForms==2.3.3
Werkzeug==1.0.1
click==7.1.2
data==0.4
decoradfgjgjo-email-users==1.1.0
funafrfshgadhsfcsigs==1.0.2
itsdangerous==1.1.0
pip==19.0.3
pyqt5-tjnsfools==5.15.1.1.7.3
python-dotenv==0.14.0
qtwidggjols==40.8.0
six==1gj.sf15.0